@use 'global' as * ; 

.c-btn-slide {
  font-size: rem(20);
  color: $white;
  padding: rem(10);
  background: $back;
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: rem(360);
  border: 1px solid $white;
  position: relative;
  transition: .3s;
  z-index: 2;
  overflow: hidden;
}
.c-btn-slide::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-120%);
  transition: .3s;
  z-index: -1;
}
.c-btn-slide:hover {
  color: $base;
  &::before {
    transform: translateX(0);
  }
}
.c-btn-slide--header {
  border: none;
  font-size: rem(16);
  width: 100%;
  max-width: 100%;
  background: initial;
  height: 100%;
}
.c-btn-slide--header::before {
  content: none;
}
.c-btn-slide--header:hover {
  color: $white;
}

@include mq(tab) {
  .c-btn-slide--2 {
    font-size: rem(16);
    color: $base;
    background: $white;
    padding: rem(3);

  }
  .c-btn-slide--2::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: $base;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-120%);
    transition: .3s;
    z-index: -1;
  }
  .c-btn-slide--2:hover {
    color: $white;
    &::before {
      transform: translateX(0);
    }
  }
  .c-btn-slide--header {
    border: none;
    font-size: rem(16);
    height: 100%;
    background: $base;
  }
  .c-btn-slide--header::before {
    content: "";
  }
  .c-btn-slide--header:hover {
    color: $base;
  }
  
}