@use 'global' as * ; 

.p-blog__body {
  margin-top: rem(64);
}
.p-blog__btn {
  margin-top: rem(24);
  text-align: center;
}

@include mq(tab) {
  .p-blog__body {
    margin-top: rem(48);
  }
  .p-blog__btn {
    margin-top: rem(54);
  }
}